// _base.scss
// ==============
body {
  font-family: $bodyFont;
  //font-size: 1.1em;
  color: $grey;
}

//add center for bugged foundation flexbox-grid class
.align-center{
  justify-content: center;
}

section:last-of-type{
  padding-bottom: 3rem;
}

a{
  color: $grey;
}
a:hover{
  color: $grey;
}

header{
  opacity: 0.95;
  background: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header {
  margin-bottom: 2rem;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

//fullpage
.page {
  min-height: 100vh;
  position: relative;
  //width: 100vw;
}
.page.portfolio{
  min-height: 90vh;
}
//end fullpage

*:focus {
  outline: none;
}

.more{
  @include css-triangle(3rem, $blue, 'down');
  cursor: pointer;
  @include horizontal-center;
}

.more-align{
  position: absolute;
  @include horizontal-center;
  top:100%;
  transform: translateY(-100%);
  padding-bottom: 5rem;
}

.teaser-logo{
  vertical-align: top;
  height: 6rem;
  margin-top:10rem;
}

h1{
  font-size:2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $grey;
}

.leistungen{
  text-align: center;
  p{
    //adjust for other screen sizes -> media queries
    margin: 0 2rem 4rem 2rem;
  }
}

figcaption{
  text-align: center;
}

footer{
  background-color: $footer;
  color: $grey;
  a, a:active, a:focus{
    color: $grey;
  }
  a:hover{
    color: $white;
  }
  .right{
    text-align: right;
  }
  .center{
    text-align: center;
    margin-top: 0.5rem;
  }
}

.leistungen .icon{
  margin-bottom: 1rem;
}

//html, body { height: 100%; margin: 0; padding: 0; }

#map {
  min-height: 400px;
  //margin-top: 2rem;
  margin-bottom: 2rem;
}

/*sticky footer */
html {
  position: relative;
  min-height: 100%;
  height: inherit !important;
}

body {
  margin: 0 0 5rem; /* bottom = footer height */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  height: 5rem;
}

/*sticky footer end */

//#content {
//  font-size: 2em;
//}

.content{
  padding-top: 100px;
}

footer .icon{
  width: 1.6rem;
  height: 1.6rem;
}

footer .icon.icon-envelop{
  width: 1rem;
  height: 1rem;
  margin-bottom: -0.1rem;
}

footer .icon-envelop.wrapper:hover .icon.icon-envelop{
  fill: $white;
  transform: scale(1);
}
footer .icon-envelop.wrapper:hover a{
  color:$white;
}


.icon{
  display: inline-block;
  width: 4rem;
  height: 4rem;
  fill: $grey;
  //doesn't work in FF
  transform-origin: 50% 50%;
  transition: transform .4s ease-out;
}

//.icon-location2:hover{
//  transform: scale(1.3);
//  fill: $blue;
//}

.leistungen .wrapper:hover .icon {
  fill: $blue;
  transform: scale(1.3);
}

.icon-twitter:hover{
  fill: $twitter;
}

.icon-github:hover{
  fill: $github;
}

.icon-facebook:hover{
  fill: $facebook;
}

.icon-stackoverflow:hover{
  fill: $stackoverflow;
}
.xing:hover .xing1{
  fill: $xing1;
}

.xing:hover .xing2{
  fill: $xing2;
}

.icon-lock{
  margin-left: 1.2rem;
}


//.icon-envelop.wrapper:hover .icon.icon-envelop{
//  fill: $blue;
//  transform: scale(1.3);
//}

.icon-location2.wrapper:hover{
  cursor: pointer;
}

//.icon-location2.wrapper:hover .icon.icon-location2{
//  fill: $blue;
//  transform: scale(1.3);
//}

//.icon-user-tie.wrapper:hover .icon.icon-user-tie{
//  fill: $blue;
//  transform: scale(1.3);
//}

//.icon-envelop.wrapper:hover a{
//  color:$blue;
//}

//#{headings()} {
//  font-family: $headFont;
//}

//h1 {
//  font-size: 3.5em;
//  margin-bottom: 10px;
//  color: $green;
//
//  @media (max-width: 700px) {
//    font-size: 2.2em;
//  }
//}
//
//.artgroup {
//  @include clearfix;
//} //artgroup

//#wave {
//  stroke-dasharray: 0 16 101 16;
//  animation: moveTheWave 2400ms linear infinite;
//}
//
//@keyframes moveTheWave {
//  0% {
//    stroke-dashoffset: 0;
//    transform: translate3d(0, 0, 0);
//  }
//  100% {
//    stroke-dashoffset: -133;
//    transform: translate3d(-90px, 0, 0);
//  }
//}