// _base.scss
// ==============
body {
  //background: lighten($beige, 10%);
  font-family: $bodyFont;
  //font-size: 1.1em;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

//fullpage
.page
{
  min-height: 100vh;
  //width: 100vw;
}
//end fullpage

*:focus {
  outline: none;
}

.more{
  @include css-triangle(3rem, $blue, 'down');
  //bottom: 2rem;
  //position: absolute;
  @include horizontal-center;
}
.teaser-logo{
  height: 6rem;
  margin-top:10%;
}

header{
  .logo{
    margin-top: 2%;
  }
}
h1{
  text-transform: uppercase;
  font-weight: 700;
  color: $headings;
}

.leistungen{
  text-align: center;
  i{
    font-size: 7rem;
    color: $grey;
  }
  h2{
    margin-top: -2rem;
  }
}

footer{
  background-color: $footer;
  color: $white;
  a{
    color: $white;
  }
  .right{
    text-align: right;
  }
}

//html, body { height: 100%; margin: 0; padding: 0; }

#map {
  height: 400px;
}

/*sticky footer */
html {
  position: relative;
  min-height: 100%;
  height: inherit !important;
}

body {
  margin: 0 0 1rem; /* bottom = footer height */
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  //height: 50px;
}

/*sticky footer end */

//#content {
//  font-size: 2em;
//}


#{headings()} {
  font-family: $headFont;
}

//h1 {
//  font-size: 3.5em;
//  margin-bottom: 10px;
//  color: $green;
//
//  @media (max-width: 700px) {
//    font-size: 2.2em;
//  }
//}
//
//.artgroup {
//  @include clearfix;
//} //artgroup