// _base.scss
// ==============
body {
  //background: lighten($beige, 10%);
  font-family: $bodyFont;
  //font-size: 1.1em;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

//fullpage
.page
{
  min-height: 100vh;
  //width: 100vw;
}
//end fullpage

*:focus {
  outline: none;
}

.more{
  @include css-triangle(3rem, $blue, 'down');
  bottom: 2%;
  position: absolute;
  @include horizontal-center;
}
.logo{

}

h1{
  text-transform: uppercase;
  font-weight: 700;
}

//#content {
//  font-size: 2em;
//}


#{headings()} {
  font-family: $headFont;
}

//h1 {
//  font-size: 3.5em;
//  margin-bottom: 10px;
//  color: $green;
//
//  @media (max-width: 700px) {
//    font-size: 2.2em;
//  }
//}
//
//.artgroup {
//  @include clearfix;
//} //artgroup