// _base.scss
// ==============

////to prevent scaling p > a two times
//p, li, .leistungen > div > a, footer > div > div > a {
//  @include typi-base();
//}

body {
  @include typi-base();
}

.contact{
  a{
    color: $grey;
  }
  a:hover{
    color: $blue;
  }
}

h1 {
  @include typi($h1-font-map, $rem: false);
}

h2 {
  @include typi($h2-font-map, $rem: false);
}

h3 {
  @include typi($h3-font-map, $rem: false);
}

body {
  font-family: $bodyFont;
  color: $grey;
}

h1, h2, h3, h4, h5, h6{
  font-family: $headerFont;
}

#skiptocontent {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

//add center for bugged foundation flexbox-grid class
.align-center {
  justify-content: center;
}

section:last-of-type {
  padding-bottom: 1rem;
}

//for contact
.contact > div:last-of-type {
  padding-bottom: 1rem;
}

.blue {
  color: $blue;
}

a {
  color: $blue;
}

a:hover {
  color: $blue;
}

header {
  opacity: 0.95;
  background: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header {
  margin-bottom: 1rem;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

//fullpage
.page {
  min-height: 100vh;
  position: relative;
  //width: 100vw;
}

.page.portfolio {
  min-height: 90vh;
}

//end fullpage

*:focus {
  outline: none;
}

.more {
  @include css-triangle(3rem, $blue, 'down');
  cursor: pointer;
  @include horizontal-center;
}

.more-align {
  position: absolute;
  @include horizontal-center;
  top: 100%;
  transform: translateY(-100%);
  padding-bottom: 5rem;
}

.teaser-logo {
  vertical-align: top;
  height: 6rem;
  margin-top: 10rem;
}

.logo{
  margin-top: -6px;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: $grey;
}

.leistungen {
  margin-top: 1rem;
  text-align: center;
  p {
    margin: 0 1.5rem 2.5rem 1.5rem;
  }
}

figcaption {
  text-align: center;
}

.leistungen .icon,
.contact .icon{
  margin-bottom: 0.5rem
}

.contact{
  div{
    margin-top: 2rem;
  }
}

//html, body { height: 100%; margin: 0; padding: 0; }

#map {
  min-height: 400px;
  //margin-top: 2rem;
  margin-bottom: 2rem;
}

/*sticky footer */
html {
  position: relative;
  min-height: 100%;
  height: inherit !important;
}

body {
  margin: 0 0 $footer-height; /* bottom = footer height */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  height: $footer-height;

  background-color: $footer;
  color: $grey;
  a, a:active, a:focus {
    color: $grey;
  }
  a:hover {
    color: $white;
  }
  .right {
    text-align: right;
  }
  .center {
    text-align: center;
    margin-top: 0.5rem;
  }
}

/*sticky footer end */

.content {
  padding-top: 100px;
}

footer .icon {
  width: 1.9rem;
  height: 1.9rem;
}

.footer-icons {
  padding: 1rem 0;
}

.footer-icons .icon {
  margin: 0 0.5rem;
}

footer .icon.icon-envelop {
  width: 1rem;
  height: 1rem;
  margin-bottom: -0.1rem;
}

footer .icon-envelop.wrapper:hover .icon.icon-envelop {
  fill: $white;
  transform: scale(1);
}

footer .icon-envelop.wrapper:hover a {
  color: $white;
}

.icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  fill: $grey;
  //doesn't work in FF ?
  transform-origin: 50% 50%;
  transition: transform .4s ease-out;
}

.leistungen .wrapper:hover .icon,
.contact .wrapper:hover .icon {
  fill: $blue;
  transform: scale(1.3);
}

.leistungen > div.column {
  //margin: 1.5rem 0;
}

.icon-twitter:hover {
  fill: $twitter;
}

.icon-github:hover {
  fill: $github;
}

.icon-facebook:hover {
  fill: $facebook;
}

.icon-stackoverflow:hover {
  fill: $stackoverflow;
}

.xing:hover .xing1 {
  fill: $xing1;
}

.xing:hover .xing2 {
  fill: $xing2;
}

.icon-lock {
  margin-left: 1.2rem;
}

.icon-location2.wrapper:hover {
  cursor: pointer;
}

//#wave {
//  stroke-dasharray: 0 16 101 16;
//  animation: moveTheWave 2400ms linear infinite;
//}
//
//@keyframes moveTheWave {
//  0% {
//    stroke-dashoffset: 0;
//    transform: translate3d(0, 0, 0);
//  }
//  100% {
//    stroke-dashoffset: -133;
//    transform: translate3d(-90px, 0, 0);
//  }
//}