@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

@media screen and (min-width: 40em) {
  h2 {
    font-size: 2rem;
  }
}

@media all and (min-width: 650px) {
  footer {
    padding-top: 1.8rem;
    .center {
      margin-top: 0;
    }
  }
}

@media all and (min-width: 768px) {
  .teaser-logo {
    height: 12rem;
  }
  .typed {
    font-size: 4rem;
  }
  .contact-text{
    margin-bottom:3rem;
  }
}

//center overlay from menu on big screens
@media all and (min-width: 1200px) {
  .overlay nav {
    font-size: 3rem;
  }
  .overlay ul li {
    display: block;
    height: 4.5rem;
    //height: calc(100% / 5);
    min-height: 3rem;
  }
  .teaser-logo {
    height: 17rem;
    margin-top: 10%;
  }

}

//center landing page logo on HD screens
@media all and (min-width: 1900px) {
  .overlay nav {
    font-size: 4rem;
  }

  .overlay ul li {
    display: block;
    height: 5.5rem;
    //height: calc(100% / 5);
    min-height: 4rem;
  }
  .teaser-logo {
    margin-top: 15%;
    height: 20rem;
  }
}


