@media screen and (min-width: 350px) {
  @include adjustFooterHeight($footer-height: 8rem);
}

  @media screen and (max-height: 488px) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

@media screen and (min-width: 480px) {
  .typed{
    font-size: 2rem;
  }

  .typed-cursor{
    font-size: 3rem;
  }

  .teaser-logo {
    height: 8rem;
    margin-top: 8rem;
  }
}

@media screen and (min-width: 640px) {
  .contact div {
    margin-top: 1rem;
  }
  footer {
    padding-top: 1.8rem;
    .center {
      margin-top: 0;
    }
  }
  .footer-icons{
    padding: 0;
  }
}

@media all and (min-width: 768px) {
  .contact div {
    margin-top: 0rem;
  }
  .teaser-logo {
    height: 12rem;
    margin-top: 8rem;
  }
  .typed {
    font-size: 3rem;
  }
  .typed-cursor{
    font-size: 4rem;
  }

  .contact-text {
    margin-bottom: 1rem;
  }
}

@media all and (min-width: 800px) {
  @include adjustFooterHeight($footer-height: 6rem);
}

//@media all and (min-width: 960px) {
//  .teaser-logo {
//    margin-top: 8rem;
//  }
//}

//center overlay from menu on big screens
@media all and (min-width: 1200px) {
  .overlay nav {
    font-size: 3rem;
  }
  .overlay ul li {
    display: block;
    height: 4.5rem;
    //height: calc(100% / 5);
    min-height: 3rem;
  }
}

@media all and (min-width: 1300px) {
  .teaser-logo {
    height: 17rem;
  }
}

//center landing page logo on HD screens
@media all and (min-width: 1900px) {
  .overlay nav {
    font-size: 4rem;
  }

  .overlay ul li {
    display: block;
    height: 5.5rem;
    //height: calc(100% / 5);
    min-height: 4rem;
  }
  .teaser-logo {
    margin-top: 10rem;
    height: 20rem;
  }
}


