@media all and (min-width: 650px) {
  footer{
    padding-top:1.8rem;
    .center{
      margin-top: 0;
    }
  }
}

@media all and (min-width: 768px) {
  .teaser-logo{
    height: 12rem;
  }
  .typed{
    font-size: 4rem;
  }
}

//center overlay from menu on big screens
@media all and (min-width: 1200px) {
  .overlay nav{
    padding-left: 20%;
  }
  .teaser-logo{
    height: 18rem;
  }
}

//center landing page logo on HD screens
@media all and (min-width: 1900px) {
  .teaser-logo{
    margin-top:15%;
    height: 20rem;
  }
}
