.menu-toggle {
  cursor: pointer
}

.menu-toggle span, .menu-toggle span:after, .menu-toggle span:before {
  background-color: $grey;
  width: 48px;
  height: 6px;
  border-radius: 6px;
  display: block;
  user-select: none;
  transition: top .2s .1s ease, bottom .2s .1s ease, background-color .2s ease, transform .2s ease
}

.menu-is-open .menu-toggle span, .menu-is-open .menu-toggle span:after, .menu-is-open .menu-toggle span:before {
  transition: top .2s ease, bottom .2s ease, background-color .2s ease, transform .2s .1s ease
}

.menu-toggle span:after, .menu-toggle span:before {
  content: '';
  position: absolute;
  left: 0
}

.menu-toggle span {
  position: relative;
  top: 16px;
  color: transparent
}

.menu-toggle span:before {
  top: -14px
}

.menu-toggle span:after {
  bottom: -14px
}

.menu-toggle {
  width: 48px;
  height: 40px
}

.menu-toggle:hover span, .menu-toggle:hover span:after, .menu-toggle:hover span:before {
  background-color: $blue;
}

.menu-is-open .menu-toggle span {
  background-color: transparent
}

.menu-is-open .menu-toggle span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.menu-is-open .menu-toggle span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

//adding X for portfolio
.action--close span, .action--close span:after, .action--close span:before {
  background-color: $blue;
  width: 48px;
  height: 6px;
  border-radius: 6px;
  display: block;
  user-select: none;
}

.action--close span:after, .action--close span:before {
  content: '';
  position: absolute;
  left: 0
}

.action--close span {
  position: relative;
  top: 16px;
  color: transparent
}

.action--close span:before {
  top: -14px
}

.action--close span:after {
  bottom: -14px
}

.action--close {
  cursor: pointer;
  width: 48px;
  height: 40px
}

.action--close span {
  background-color: transparent
}

.action--close span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.action--close span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.le-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 4;
  opacity: 0;
  pointer-events: none
}

.le-menu-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, .97)
}

.le-menu-wrapper a {
  position: relative;
  color: rgba(48, 48, 48, .4)
}

.le-menu-wrapper a:after {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  content: '';
  height: 2px;
  background-color: rgba(0, 0, 0, 0);
  transition: all .15s ease
}

.le-menu-wrapper a:hover,
.le-menu-wrapper a:focus,
.le-menu-wrapper a.active
{
  color: rgba(48, 48, 48, .9)
}

.le-menu-wrapper a:hover:after, .le-menu-wrapper a.active:after {
  background-color: $blue;
}

.menu-is-open .le-menu {
  opacity: 1;
  pointer-events: auto
}

.main-navigation {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center
}

.h3 {
  font-size: 1.6em;
}

.main-navigation ul {
  margin: 0
}

.main-navigation li {
  padding: 15px 0;
  position: relative;
  opacity: 0
}

.menu-is-open .main-navigation li {
  opacity: 1
}

.list-unstyled {
  padding-left: 0;
  list-style: none
}