/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
}

.overlay ul li a.active{
  text-decoration: underline;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  //padding-left: 5%;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 4rem;
  height: calc(100% / 5);
  min-height: 2rem;
}

.overlay ul li a {
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  color: $blue;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  text-decoration: underline;
}

/* Effects */
.overlay {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}



//Burger Menu
#menu {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 2rem auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 200;
}

#menu span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $blue;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu span:nth-child(1) {
  top: 0px;
}

#menu span:nth-child(2),#menu span:nth-child(3) {
  top: 18px;
}

#menu span:nth-child(4) {
  top: 36px;
}

#menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


//anotherMenu
.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer
}

.menu-toggle span, .menu-toggle span:after, .menu-toggle span:before {
  background-color: #ACACAC;
  width: 24px;
  height: 3px;
  border-radius: 3px;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: top .2s .1s ease, bottom .2s .1s ease, background-color .2s ease, -webkit-transform .2s ease;
  transition: top .2s .1s ease, bottom .2s .1s ease, background-color .2s ease, transform .2s ease
}

.menu-is-open .menu-toggle span, .menu-is-open .menu-toggle span:after, .menu-is-open .menu-toggle span:before {
  -webkit-transition: top .2s ease, bottom .2s ease, background-color .2s ease, -webkit-transform .2s .1s ease;
  transition: top .2s ease, bottom .2s ease, background-color .2s ease, transform .2s .1s ease
}

.menu-toggle span:after, .menu-toggle span:before {
  content: '';
  position: absolute;
  left: 0
}

.menu-toggle
span {
  position: relative;
  top: 8px;
  color: transparent
}

.menu-toggle span:before {
  top: -7px
}

.menu-toggle span:after {
  bottom: -7px
}

.menu-toggle {
  width: 24px;
  height: 20px
}

.menu-toggle:hover span, .menu-toggle:hover span:after, .menu-toggle:hover span:before {
  background-color: #303030
}

.menu-is-open .menu-toggle
span {
  background-color: transparent
}

.menu-is-open .menu-toggle span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.menu-is-open .menu-toggle span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.le-menu, .download-popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 4;
  opacity: 0;
  pointer-events: none
}

.le-menu-wrapper, .download-popup-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, .97)
}

.download-popup-inner {
  padding: 40px 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center
}

.popup-is-open .download-popup {
  pointer-events: auto
}

//maybe add some more rules from anotherMenu.css