// _modules.scss
// ============

//typed.js
.typed{
  font-weight: 700;
  font-size: 3em;
}
.typed-cursor{
  font-size:3em;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
//end of typed.js


.ontour {
  h1 {
    color: lighten($purple, 5);
    font-size: 3em;
    bottom: 10px;
    right: 10%;
  }

  h2 {
    font-size: 1.8em;
    color: $darkGreenGold;
    border-top: 1px solid $darkGreenGold;
    padding-top: 5px;
  } //h3

  h3 {
    font-size: 1.3em;
    color: lighten($purple, 15);
    padding-bottom: 5px;
  } //h4

  img {
    float: right;
    @include border-radius(50%);
    padding-left: 20px;
    width:20%;
    min-width: 120px;
    max-width: 160px;
  } //img
} //ontour