$breakpoints: (
        //small: 600px,
        //medium: 1025px,
        //large: 1440px
        small: 37.5em,
        medium: 64.063em
);

$typi: (
        null: (16px, 1.5),
        small: 18px,
        medium: 20px,
        //large: 24px
);

$h1-font-map: (
        null: (1.6em, 1.2),
        small: (1.9em, 1.3),
        medium: (2.2em, 1.4),
        //large: (3em, 1.5)
);

$h2-font-map: (
        null: (1.4em, 1.2),
        small: (1.7em, 1.3),
        medium: (2em, 1.4),
        //large: (2.8em, 1.5)
);

$h3-font-map: (
        null: (1.2em, 1.2),
        small: (1.5em, 1.3),
        medium: (1.8em, 1.4),
        //large: (2.6em, 1.5)
);