// _variables.scss
// =================

//colors
$white        : #ffffff;
$grey         : #646464;
$blue         : #49a3df;
//$headings     : #5a5a5a;
$footer       : #2e2e2e;

//social icons
$white        : #ffffff;
$xing2        : #B0D400;
$twitter      : #55ACEE;
$stackoverflow: #F67A00;

//fonts
$headerFont : 'Work Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$bodyFont : 'Work Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;



//heights
$footer-height: 10rem;
