// _variables.scss
// =================

$white        : #ffffff;
$grey         : #646464;
$blue         : #49a3df;
$headings     : #5a5a5a;
$footer       : #2e2e2e;

//social icons
$facebook     : #6d84b4;
$github       : #ffffff;
$xing1        : #005A5F;
$xing2        : #D3D500;
$twitter      : #55ACEE;
$stackoverflow: #F67A00;

$headFont : 'Work Sans', sans-serif;
$bodyFont : 'Work Sans', sans-serif;